# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/



# Logs
*.log

# Temporary files
*.tmp
*.temp

uvicorn backend.api:app --reload
or
python -m uvicorn backend.api:app --reload
python -m http.server 5500 --directory frontend
http://127.0.0.1:5500